label {
  display: inline-block;
  padding-bottom: .5rem;
  color: var(--clr-deep-violet);
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

input {
  height: 45px;
  border-radius: 0.5rem;
  border: var(--clr-light-gray) 1px solid;
  font-size: 18px;
  padding: 0 1rem;
  width: 100%;
  outline: none;

  &[type='number'] {
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    -moz-appearance: textfield;
  }

  &::placeholder {
    color: var(--clr-deep-violet);
    opacity: 25%;
  }

  &:hover {
    cursor: pointer;
  }

  &:hover:not([data-invalid='true']), &:focus:not([data-invalid='true']) {
    background: linear-gradient(white, white) padding-box, var(--input-gradient) border-box;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-radius: 0.5rem;
  }

  &[aria-invalid='true'] {
    border: var(--clr-error) 1px solid !important;
  }
}

span.error {
  color: var(--clr-error);
  font-size: 12px;
}

img.card {
  width: 286px;
  height: 157px;
  box-shadow: 0 20px 20px hsla(0, 0%, 50%, .2);
  border-radius: .6rem;
}

@media (min-width: 1440px) {
  img.card {
    width: 448px;
    height: 245px;
  }
}
