:root {
  --ff-primary: 'Space Grotesk', sans-serif;
  --fw-primary: 500;

  --clr-light-gray: #DFDEE0;
  --clr-deep-violet: #21092F;
  --clr-purplish-gray: #8F8694;

  --clr-error: #FF5050;

  --input-gradient: linear-gradient(to bottom, hsl(249, 99%, 64%), hsl(278, 94%, 30%));

  --fs-xs: 0.563rem;
  --fs-sm: 0.75rem;
  --fs-normal: 0.875rem;
  --fs-lg: 1.125rem;
  --fs-xl: 1.75rem;
}

