:root {
  --ff-primary: 'Space Grotesk', sans-serif;
  --fw-primary: 500;

  --clr-light-gray: #DFDEE0;
  --clr-deep-violet: #21092F;

  --clr-error: #FF5050;

  --input-gradient: linear-gradient(to bottom, hsl(249, 99%, 64%), hsl(278, 94%, 30%));
}

