.container {
  display: flex;
  justify-content: center;
}

.cardEntry {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('@/assets/images/bg-main-mobile.png');
  background-repeat: no-repeat;
  padding-top: 20.4rem;
  width: 23.438rem;

  .cardBackContainer {
    position: absolute;
    top: 2rem;
    left: 4.563rem;
  }

  .cardFrontContainer {
    position: absolute;
    top: 7.875rem;
    left: 1rem;
  }

  main {
    width: 20.438rem;
  }
}

@media (min-width: 1440px) {
  .container {
    display: block;
    justify-content: unset;
    height: 100vh;
    background-image: url('@/assets/images/bg-main-desktop.png');
    background-repeat: no-repeat;
    background-size: 30.188rem 56.25rem;
  }

  .cardEntry {
    all: unset;
    position: relative;

    .cardBackContainer {
      position: fixed;
      top: 29.3rem;
      left: 16.1rem;
    }

    .cardFrontContainer {
      position: fixed;
      top: 11.69rem;
      left: 10.25rem;
    }

    main {
      display: flex;
      flex-direction: row;
      justify-content: end;
      align-items: center;
      padding-top: 16.9rem;
      width: 75.81rem;
    }
  }
}

