.cardFront {
  .content {
    position: absolute;
    display: grid;
    padding: 0 1.2rem;
    width: 17.875rem;
    height: 9.813rem;
    color: white;
    top: 0;
    left: 0;
    grid-template-rows: 5.1rem repeat(2, auto);

    .logo {
      height: 1.875rem;
      margin-top: 1.2rem;
    }

    .number {
      font-size: var(--fs-lg);
      letter-spacing: 2.2px;
    }

    .footer {
      display: flex;
      justify-content: space-between;
      font-size: var(--fs-xs);
      letter-spacing: 1.29px;
      text-transform: uppercase;
    }

    @media (min-width: 1440px) {
      padding: 0 2rem;
      width: 27.938rem;
      height: 15.875rem;
      grid-template-rows: 8.5rem 4rem auto;

      .logo {
        height: 2.938rem;
        margin-top: 1.8rem;
      }

      .number {
        padding: unset;
        font-size: var(--fs-xl);
        letter-spacing: 3.42px;
      }

      .footer {
        font-size: var(--fs-normal);
        letter-spacing: 2px;
      }
    }
  }
}

