.cardFront {
  position: relative;

  .content {
    position: absolute;
    display: grid;
    padding: 0 1.2rem;
    width: 286px;
    height: 157px;
    color: white;
    top: 0;
    left: 0;
    grid-template-rows: 5.1rem repeat(2, auto);

    .logo {
      height: 30px;
      margin-top: 1.2rem;
    }

    .number {
      font-size: 18px;
      letter-spacing: 2.2px;
    }

    .footer {
      display: flex;
      justify-content: space-between;
      font-size: 9px;
      letter-spacing: 1.29px;
      text-transform: uppercase;
    }
  }

  @media (min-width: 1440px) {
    .content {
      padding: 0 2rem;
      width: 447px;
      height: 254px;
      grid-template-rows: 8.5rem 4rem auto;

      .logo {
        height: 47px;
        margin-top: 1.8rem;
      }

      .number {
        padding: unset;
        font-size: 28px;
        letter-spacing: 3.42px;
      }

      .footer {
        font-size: 14px;
        letter-spacing: 2px;
      }
    }
  }
}

