.thankYou {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20.438rem;

  img {
    place-self: center;
    width: 5rem;
    height: 5rem;
  }

  header {
    padding-top: 1.75rem;
    h1 {
      text-transform: uppercase;
      text-align: center;
      font-weight: var(--fw-primary);
      font-size: var(--fs-xl);
      letter-spacing: 3.42px;
      color: var(--clr-deep-violet);
    }
  }

  p {
    padding-top: 1.438rem;
    text-align: center;
    font-size: var(--fs-lg);
    font-weight: var(--fw-primary);
    color: var(--clr-purplish-gray);
  }

  .continueButtonContainer {
    padding-top: 3.25rem;
  }

  @media (min-width: 1440px) {
    width: 23.813rem;
  }
}
